@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap');

.avtarcontainer {
  color: white;
}

.contentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.HeroBg{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  @media (max-width: 550px) {
    justify-content: center;
    padding: 0 20px;
    margin-top: 120px;
  }
  
  @media (max-width: 430px){
    padding: 0 10px;
    margin-top: 200px;
  }
  
  @media (max-width: 380px){
    padding: 0 0px;
    margin-top: 200px;
  }

}

.mainContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.boxcontainer {
  display: flex;
  justify-content: center;
}

.box {
  height: 200px;
  border-radius: 0px;
  margin-top: 100px;
  color: black;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 100%;
}

.myname {
  background: linear-gradient(90deg, #cdc6c6 0%, #999393 63%, #959292 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hr {
  background: linear-gradient(90deg, #cdc6c6 0%, #999393 63%, #959292 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 70%;
  margin: auto;
}

.title {
  font-size: 50px;
  background: linear-gradient(90deg, #cdc6c6 0%, #999393 63%, #959292 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  margin: auto;
  font-size: 50px;
  letter-spacing: 3px;
  color: #17e8eb;
  font-family: Monoton;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avtarContainer{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.37);
  overflow: hidden;
  margin-top: 200px;
}

.avtarContainer::before{
  content: "";
  position: absolute;
  inset: -10px 60px;
  background: linear-gradient(315deg,#00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.avtarContainer:hover::before{
  inset: -20px 0px;
} 

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.avtarContainer::after{
  content: "";
  position: absolute;
  inset: 6px;
  background: #191924;
  border-radius: 50%;
  z-index: 1;
}

.content{
  position: absolute;
  inset: 15px;
  border: 3px solid rgba(0, 0, 0, 0.37);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content #avtar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.avtarContainer:hover .content #avtar{
  opacity: 0;
}

.content h2{
  position: relative;
  /* font-size: 1.5em; */
  text-align: center;
  color: #ffff;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.content h2 span{
font-weight: 300;
font-size: 0.75em;
}


@media (max-width: 935px) {
  .description {
    top: 800px;
  }
}

@media (max-width: 655px) {
  .description {
    top: 815px;
    font-size: 32px;
  }
}

@media (max-width: 475px) {
  .description {
    top: 735px;
    font-size: 25px;
  }

  .title {
    font-size: 40px;
  }
}

@media (max-width: 371px) {
  .description {
    top: 700px;
    font-size: 35px;
  }

  .title {
    font-size: 40px;
  }

  #avtar {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 275px) {
  .description {
    top: 680px;
    font-size: 30px;
  }

  .title {
    font-size: 30px;
  }

  #avtar {
    width: 150px;
    height: 150px;
  }
}
